.letreiro-container {
    
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letreiro-container p
{
    background-color: #333;
    padding: 20px;
    color: white;
    border-radius: 10px;
    width: 215px;
    height: 30px;
    display: flex;
    align-items: center;
}

.voltar a
{
    font-size: 1rem;
    align-items: center;
    border-radius: 0.4rem;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    background: #000000;
}
